@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




#slider-d P {
  color: #c1c1c1;
  text-align: center;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-a .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#header4-9 H1 {
  color: #faaf40;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#header4-9 P {
  color: #cccccc;
  text-align: right;
}
#header4-9 SPAN {
  font-family: 'Oswald', sans-serif;
}
#msg-box2-p .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-p .mbr-article {
  color: #252525;
}
#msg-box2-o .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-o .mbr-article {
  color: #252525;
}
#msg-box2-n .mbr-header .mbr-header__text {
  color: #252525;
  text-align: left;
}
#msg-box2-n .mbr-article {
  color: #252525;
}
#form1-f .mbr-header__text {
  color: #faaf40;
  font-family: 'Oswald', sans-serif;
}
#social-buttons1-g .mbr-header__text {
  color: #252525;
  text-align: right;
}

#menu-q .mbr-brand__name {
  font-size: 16px;
}
#menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-q .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#header4-s H1 {
  color: #faaf40;
}

#menu-t .mbr-brand__name {
  font-size: 16px;
}
#menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-t .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-t .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#slider-w P {
  text-align: right;
}
#msg-box1-y .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-y .mbr-article {
  color: #fff;
}

#menu-z .mbr-brand__name {
  font-size: 16px;
}
#menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-z .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
}
#slider-10 P {
  text-align: right;
}
#msg-box1-12 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-12 .mbr-article {
  color: #fff;
}
